.tmp.drivedownload
.idea
issues.png
TryController.php

php-cs-fixer
.php_cs.cache

bin/phpunit
/phpunit.xml

/var/
/vendor/
.env
.env.test
/.env.local
/.env.*.local
/.web-server-pid

.phpunit
/phpunit.xml
