{% for flash_message in app.session.flashBag.get('success') %}
    <div class="alert alert-success alert-dismissible text-center" role="alert">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Superbe !</strong> {{ flash_message }}
    </div>
{% endfor %}
{% for flash_message in app.session.flashBag.get('error') %}
    <div class="alert alert-danger alert-dismissible text-center" role="alert">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Oops !</strong> {{ flash_message }}
    </div>
{% endfor %}